# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Data files (raw stays local)
data/raw/*
!data/raw/.gitkeep

# Processed data
data/processed/*
!data/processed/.gitkeep
